@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-200 antialiased;
  }
}

.markdown-body {
  @apply prose prose-invert max-w-none 
         prose-headings:text-primary-500 
         prose-a:text-primary-500 hover:prose-a:text-primary-400
         prose-code:text-primary-100 prose-code:bg-dark-800 prose-code:px-1 prose-code:py-0.5 prose-code:rounded
         prose-pre:bg-dark-800 prose-pre:border prose-pre:border-dark-700
         prose-img:rounded-lg prose-img:shadow-lg;
}
